@import "tailwindcss";
@import "./animations.css";
@import "./_slider.css";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  @apply max-w-[1496px] px-5 md:px-10 mx-auto;
}

.swiper-pagination-bullet {
  width: 160px !important;
  position: relative;
}

.cornerClip {
  --cornner-cut: 5px;
  overflow: hidden;
  clip-path: polygon(
    var(--cornner-cut) 0%,
    calc(100% - var(--cornner-cut)) 0%,
    100% var(--cornner-cut),
    100% calc(100% - var(--cornner-cut)),
    calc(100% - var(--cornner-cut)) 100%,
    var(--cornner-cut) 100%,
    0% calc(100% - var(--cornner-cut)),
    0% var(--cornner-cut)
  );
}
